.search {
    width: 70%;
    position: center;
    display: flex;
  }

.searchTerm {
width: 100%;
border: 3px solid #064f98;
border-right: none;
padding: 5px;
height: 20px;
border-radius: 5px 0 0 5px;
outline: none;
color: #9dbfaf;
}

.searchTerm:focus {
    color: #064f98;
  }

.wrap {
    /* width: 30%; */
    display: flex;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

button {
  /* Just a little styling to make it pretty */
  border:1px solid blue;
  background:blue;
  color:white;
}